[Desktop Entry]
Type=Application
Icon=~/.local/share/icons/launchpad.svg
Exec=sh -c ~/.config/rofi/launchers/misc/launcher.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=rofi launcher
Name=rofi launcher
Comment[en_US]=rofi launcher
Comment=rofi launcher